<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Weather-inspired Activity Planner   WAP</h1>
    <form id="apiForm" action="{% url 'forecast' %}" method="get">
        {% csrf_token %}
        <label for="zipCode">Zip Code:</label>
        <input type="text" id="zipCode" name="zipCode" required><br><br>

        <label for="countryCode">Country Code:</label>
        <select id="countryCode" name="countryCode" required>
            <option value="CA">Canada</option>
            <option value="IN">India</option>
            <option value="UK">United Kingdom</option>
            <option value="US">United States</option>
        </select><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
