<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <!-- component -->
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center text-sm font-light">
            <thead
              class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
              <tr>
                <th scope="col" class=" px-6 py-4">Activity
                    (Indoor/Outdoor)
                </th>
                <th scope="col" class=" px-6 py-4">Weather Note</th>
                <th scope="col" class=" px-6 py-4">Humidity</th>
                <th scope="col" class=" px-6 py-4">Date and Time</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4 "></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td colspan="2" class="whitespace-nowrap  px-6 py-4">
                  
                </td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              viewBox<tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              viewBoxv
              viewBox<tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              viewBox<tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              viewBox<tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              viewBox<tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              viewBox<tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
                <td class="whitespace-nowrap  px-6 py-4"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>
